[submodule "vendor/juxtapose"]
	path = vendor/juxtapose
	url = https://github.com/NUKnightLab/juxtapose
[submodule "vendor/compare_view"]
	path = vendor/compare_view
	url = https://github.com/Octoframes/compare_view
