Pillow
numpy
matplotlib
scikit-image

#------ JupyerLite install -------
jupyterlite==0.1.0b14

#------ JupyerLab install -------
ipywidgets>=7.7,<8
jupyterlab~=3.3.0
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

#------- Demo install -------
# Reuse .binder/requirements.txt