Pillow>=12.3.0
numpy>=2.5.1
matplotlib>=3.11.1
scikit-image>=0.26.0

#------ JupyerLite install -------
jupyterlite>=0.8.1
jupyterlite-pyodide-kernel>=0.8.2

#------ JupyerLab install -------
ipywidgets>=8.1.8
jupyterlab>=4.6.2
jupyterlab-language-pack-fr-FR>=4.5.post3
jupyterlab-language-pack-zh-CN>=4.5.post3

#------- Demo install -------
# Reuse .binder/requirements.txt
