name: Build and Deploy Jupyterlite Demo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install the dependencies
        run: |
          python -m pip install -r .binder/requirements.txt
          python -m pip install -r .jupyterlite/requirements.txt
          python -m pip wheel .
          mkdir -p pypi
          cp jupyter_splitview*.whl pypi/
      - name: Build the JupyterLite site
        run: |
          mkdir -p content
          cp README.md content
          cp example_notebook.ipynb content
          jupyter lite build --contents ./content
      - name: Upload (dist)
        uses: actions/upload-artifact@v2
        with:
          name: jupyterlite-demo-dist-${{ github.run_number }}
          path: ./_output

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - uses: actions/download-artifact@v2
        with:
          name: jupyterlite-demo-dist-${{ github.run_number }}
          path: ./dist
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: dist